In [1]:
import pandas as pd

In [2]:
series = pd.Series([1,2,3,4,5])
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
d = [1,2,3,4,5,6]
dindex = ['a','b','c','d','e','f']
series = pd.Series(d, dindex) # assigning my own index
print(series)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [4]:
d = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(d)
print(df)
print("with custom index")
df = pd.DataFrame(d, index = ['r1','r2','r3'], columns = ['c1','c2','c3']) # custom index and column names
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
with custom index
    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

# Reading Files

In [5]:
obesity_data = pd.read_csv('obesity_prediction.csv') # reading csv to a dataframe
print(obesity_data.head()) # prints first five rows 
print(obesity_data.tail()) # print last five rows
print(obesity_data.head(2)) # prints custome no. of rows

   Gender   Age  Height  Weight family_history FAVC  FCVC  NCP       CAEC  \
0  Female  21.0    1.62    64.0            yes   no   2.0  3.0  Sometimes
1  Female  21.0    1.52    56.0            yes   no   3.0  3.0  Sometimes
2    Male  23.0    1.80    77.0            yes   no   2.0  3.0  Sometimes
3    Male  27.0    1.80    87.0             no   no   3.0  3.0  Sometimes
4    Male  22.0    1.78    89.8             no   no   2.0  1.0  Sometimes

  SMOKE  CH2O  SCC  FAF  TUE        CALC                 MTRANS  \
0    no   2.0   no  0.0  1.0          no  Public_Transportation
1   yes   3.0  yes  3.0  0.0   Sometimes  Public_Transportation
2    no   2.0   no  2.0  1.0  Frequently  Public_Transportation
3    no   2.0   no  2.0  0.0  Frequently                Walking
4    no   2.0   no  0.0  0.0   Sometimes  Public_Transportation

               Obesity
0        Normal_Weight
1        Normal_Weight
2        Normal_Weight
3   Overweight_Level_I
4  Overweight_Level_II
      Gender        Age    Height      Weight family_history FAVC  FCVC  NCP  \
2106  Female  20.976842  1.710730  131.408528            yes  yes   3.0  3.0
2107  Female  21.982942  1.748584  133.742943            yes  yes   3.0  3.0
2108  Female  22.524036  1.752206  133.689352            yes  yes   3.0  3.0
2109  Female  24.361936  1.739450  133.346641            yes  yes   3.0  3.0
2110  Female  23.664709  1.738836  133.472641            yes  yes   3.0  3.0

           CAEC SMOKE      CH2O SCC       FAF       TUE       CALC  \
2106  Sometimes    no  1.728139  no  1.676269  0.906247  Sometimes
2107  Sometimes    no  2.005130  no  1.341390  0.599270  Sometimes
2108  Sometimes    no  2.054193  no  1.414209  0.646288  Sometimes
2109  Sometimes    no  2.852339  no  1.139107  0.586035  Sometimes
2110  Sometimes    no  2.863513  no  1.026452  0.714137  Sometimes

                     MTRANS           Obesity
2106  Public_Transportation  Obesity_Type_III
2107  Public_Transportation  Obesity_Type_III
2108  Public_Transportation  Obesity_Type_III
2109  Public_Transportation  Obesity_Type_III
2110  Public_Transportation  Obesity_Type_III
   Gender   Age  Height  Weight family_history FAVC  FCVC  NCP       CAEC  \
0  Female  21.0    1.62    64.0            yes   no   2.0  3.0  Sometimes
1  Female  21.0    1.52    56.0            yes   no   3.0  3.0  Sometimes

  SMOKE  CH2O  SCC  FAF  TUE       CALC                 MTRANS        Obesity
0    no   2.0   no  0.0  1.0         no  Public_Transportation  Normal_Weight
1   yes   3.0  yes  3.0  0.0  Sometimes  Public_Transportation  Normal_Weight

In [6]:
obesity_data.sample(5)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
894,Male,26.787842,1.817641,87.107317,no,yes,2.971588,2.743277,Sometimes,no,1.394883,no,2.000000,0.470243,no,Automobile,Overweight_Level_I
227,Female,24.000000,1.620000,58.000000,no,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
275,Female,18.000000,1.500000,50.000000,yes,yes,3.000000,3.000000,Frequently,no,2.000000,no,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1173,Female,34.231083,1.654067,79.697278,yes,yes,2.086898,1.818026,Sometimes,no,2.088929,no,0.305422,1.040787,no,Automobile,Overweight_Level_II
188,Male,35.000000,1.780000,105.000000,yes,yes,3.000000,1.000000,no,no,3.000000,no,3.000000,1.000000,Frequently,Automobile,Obesity_Type_I

# Atributes of DataFrame

In [7]:
print(obesity_data.columns) # Index object with all columns and type
print(list(obesity_data.columns)) #converting ot list
print(obesity_data.columns.tolist()) #converting to list

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')
['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC', 'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS', 'Obesity']
['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC', 'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS', 'Obesity']

In [8]:
print(obesity_data.index) # give a RangeIndex object that specifies range of data
print(obesity_data.shape)
print(obesity_data.size)
# print(obesity_data.index.to_list()) # give the list of index
# print(list(obesity_data.index)) # give the list of index

RangeIndex(start=0, stop=2111, step=1)
(2111, 17)
35887

In [9]:
print(obesity_data.describe()) #give a detailed report of the data

               Age       Height       Weight         FCVC          NCP  \
count  2111.000000  2111.000000  2111.000000  2111.000000  2111.000000
mean     24.312600     1.701677    86.586058     2.419043     2.685628
std       6.345968     0.093305    26.191172     0.533927     0.778039
min      14.000000     1.450000    39.000000     1.000000     1.000000
25%      19.947192     1.630000    65.473343     2.000000     2.658738
50%      22.777890     1.700499    83.000000     2.385502     3.000000
75%      26.000000     1.768464   107.430682     3.000000     3.000000
max      61.000000     1.980000   173.000000     3.000000     4.000000

              CH2O          FAF          TUE
count  2111.000000  2111.000000  2111.000000
mean      2.008011     1.010298     0.657866
std       0.612953     0.850592     0.608927
min       1.000000     0.000000     0.000000
25%       1.584812     0.124505     0.000000
50%       2.000000     1.000000     0.625350
75%       2.477420     1.666678     1.000000
max       3.000000     3.000000     2.000000

In [10]:
print(obesity_data.info()) # give the info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB
None

# Accessing Data

## loc: 
- loc helps to list multiple columen and rows at a time
- it support column name bases indexing/labelling also
- it also support boolean based indexing

In [11]:
print(obesity_data.loc[0]) #getting a particular row by index/label
print(obesity_data.loc[0,'Age']) # only a particular column of a specific row
print(obesity_data.loc[0:10, 'Age']) # both start and end are inclusive
print(obesity_data.loc[0:10, ['Age','Height','Weight','Gender']]) # multiple comlumns 
print(obesity_data.loc[[1,4,3,5,24],['Age','Height','Weight','Gender']]) # getting only rows you want 
print(obesity_data.loc[0:5, 'FAVC':'TUE' ]) # getting columns by index

Gender                           Female
Age                                21.0
Height                             1.62
Weight                             64.0
family_history                      yes
FAVC                                 no
FCVC                                2.0
NCP                                 3.0
CAEC                          Sometimes
SMOKE                                no
CH2O                                2.0
SCC                                  no
FAF                                 0.0
TUE                                 1.0
CALC                                 no
MTRANS            Public_Transportation
Obesity                   Normal_Weight
Name: 0, dtype: object
21.0
0     21.0
1     21.0
2     23.0
3     27.0
4     22.0
5     29.0
6     23.0
7     22.0
8     24.0
9     22.0
10    26.0
Name: Age, dtype: float64
     Age  Height  Weight  Gender
0   21.0    1.62    64.0  Female
1   21.0    1.52    56.0  Female
2   23.0    1.80    77.0    Male
3   27.0    1.80    87.0    Male
4   22.0    1.78    89.8    Male
5   29.0    1.62    53.0    Male
6   23.0    1.50    55.0  Female
7   22.0    1.64    53.0    Male
8   24.0    1.78    64.0    Male
9   22.0    1.72    68.0    Male
10  26.0    1.85   105.0    Male
     Age  Height  Weight  Gender
1   21.0    1.52    56.0  Female
4   22.0    1.78    89.8    Male
3   27.0    1.80    87.0    Male
5   29.0    1.62    53.0    Male
24  21.0    1.85    68.0    Male
  FAVC  FCVC  NCP       CAEC SMOKE  CH2O  SCC  FAF  TUE
0   no   2.0  3.0  Sometimes    no   2.0   no  0.0  1.0
1   no   3.0  3.0  Sometimes   yes   3.0  yes  3.0  0.0
2   no   2.0  3.0  Sometimes    no   2.0   no  2.0  1.0
3   no   3.0  3.0  Sometimes    no   2.0   no  2.0  0.0
4   no   2.0  1.0  Sometimes    no   2.0   no  0.0  0.0
5  yes   2.0  3.0  Sometimes    no   2.0   no  0.0  0.0

## iloc: 
- when we use slicing in iloc the last index is excluded unlike loc
- in iloc we use index labelling meaning normal integer index, unlike loc where we can use column name(column label)

In [12]:
print(obesity_data.iloc[0:5,0]) # index '5' is excluded
#  print(obesity_data.iloc[0:5,'Age'] # give error becouse column name labelling is not allowed in iloc
print(obesity_data.iloc[0:5,0:5])
print(obesity_data.loc[[1,4,3,5,24],:])

0    Female
1    Female
2      Male
3      Male
4      Male
Name: Gender, dtype: object
   Gender   Age  Height  Weight family_history
0  Female  21.0    1.62    64.0            yes
1  Female  21.0    1.52    56.0            yes
2    Male  23.0    1.80    77.0            yes
3    Male  27.0    1.80    87.0             no
4    Male  22.0    1.78    89.8             no
    Gender   Age  Height  Weight family_history FAVC  FCVC  NCP       CAEC  \
1   Female  21.0    1.52    56.0            yes   no   3.0  3.0  Sometimes
4     Male  22.0    1.78    89.8             no   no   2.0  1.0  Sometimes
3     Male  27.0    1.80    87.0             no   no   3.0  3.0  Sometimes
5     Male  29.0    1.62    53.0             no  yes   2.0  3.0  Sometimes
24    Male  21.0    1.85    68.0            yes  yes   2.0  3.0  Sometimes

   SMOKE  CH2O  SCC  FAF  TUE        CALC                 MTRANS  \
1    yes   3.0  yes  3.0  0.0   Sometimes  Public_Transportation
4     no   2.0   no  0.0  0.0   Sometimes  Public_Transportation
3     no   2.0   no  2.0  0.0  Frequently                Walking
5     no   2.0   no  0.0  0.0   Sometimes             Automobile
24    no   2.0   no  0.0  1.0   Sometimes  Public_Transportation

                Obesity
1         Normal_Weight
4   Overweight_Level_II
3    Overweight_Level_I
5         Normal_Weight
24        Normal_Weight

## Single Value Access:  at , iat
- slicing is not allowed in at and iat.
- at is similar to loc and iat to iloc, but slicing is not allowed
- even lists to access specific rows or columns is not allowed
- in loc and iloc column label is not mandatory but its mandatory in at and iat

In [13]:
print(obesity_data.at[0,'Age'])
print(obesity_data.at[4,'Height'])
#   print(obesity_data.iat[0]) # give error
#   print(obesity_data.at[0]) # give error
print(obesity_data.iat[0,2])

21.0
1.78
1.62

## Accessing with Shorthand(square Brackets) and Dot notation

In [14]:
obesity_data['Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [15]:
print(obesity_data[['Age','Height']])

            Age    Height
0     21.000000  1.620000
1     21.000000  1.520000
2     23.000000  1.800000
3     27.000000  1.800000
4     22.000000  1.780000
...         ...       ...
2106  20.976842  1.710730
2107  21.982942  1.748584
2108  22.524036  1.752206
2109  24.361936  1.739450
2110  23.664709  1.738836

[2111 rows x 2 columns]

In [16]:
obesity_data.Age

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

# Filtering
- filtering based on condition.
- we can use loc[] can be used to do this because of its label based indexing and boolean based

In [17]:
obesity_data.loc[obesity_data['Height'] > 1] # boolean indexing listing height based on a condition

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [18]:
obesity_data.loc[(obesity_data['Weight'] < 50) & (obesity_data['Height'] > 1.2)]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.000000,1.560000,49.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,yes,2.000000,0.000000,no,Walking,Normal_Weight
37,Female,21.000000,1.600000,48.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.000000,1.500000,44.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
60,Female,21.000000,1.550000,49.000000,yes,yes,2.000000,3.000000,Sometimes,no,3.000000,no,3.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
75,Female,23.000000,1.630000,45.000000,yes,no,3.000000,3.000000,Sometimes,no,3.000000,yes,2.000000,0.000000,no,Public_Transportation,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Female,19.269079,1.580920,44.753943,no,no,3.000000,2.975362,Frequently,no,1.246822,yes,0.979701,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
738,Female,19.946244,1.603435,45.000000,no,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
739,Female,19.639431,1.535350,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation,Insufficient_Weight
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight

In [19]:
obesity_data.loc[(obesity_data['Weight'] < 50) | (obesity_data['Height'] > 1.2)]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

### we can also doe filtering  using the [] and dot notation

In [20]:
obesity_data[(obesity_data['Weight'] < 50) & (obesity_data['Height'] > 1.2)]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.000000,1.560000,49.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,yes,2.000000,0.000000,no,Walking,Normal_Weight
37,Female,21.000000,1.600000,48.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.000000,1.500000,44.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
60,Female,21.000000,1.550000,49.000000,yes,yes,2.000000,3.000000,Sometimes,no,3.000000,no,3.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
75,Female,23.000000,1.630000,45.000000,yes,no,3.000000,3.000000,Sometimes,no,3.000000,yes,2.000000,0.000000,no,Public_Transportation,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Female,19.269079,1.580920,44.753943,no,no,3.000000,2.975362,Frequently,no,1.246822,yes,0.979701,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
738,Female,19.946244,1.603435,45.000000,no,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
739,Female,19.639431,1.535350,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation,Insufficient_Weight
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight

In [21]:
obesity_data[(obesity_data['Weight'] < 50) | (obesity_data['Height'] > 1.2)]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

# Regular Expressions

In [22]:
obesity_data.loc[obesity_data['Obesity'].str.contains('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [23]:
obesity_data.loc[~(obesity_data['Obesity'].str.startswith('Normal'))]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
10,Male,26.000000,1.850000,105.000000,yes,yes,3.0,3.0,Frequently,no,3.000000,no,2.000000,2.000000,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.000000,1.720000,80.000000,yes,yes,2.0,3.0,Frequently,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Overweight_Level_II
13,Male,41.000000,1.800000,99.000000,no,yes,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Automobile,Obesity_Type_I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [24]:
obesity_data[~(obesity_data['Obesity'].str.startswith('Normal'))] # can do without loc[] also

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
10,Male,26.000000,1.850000,105.000000,yes,yes,3.0,3.0,Frequently,no,3.000000,no,2.000000,2.000000,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.000000,1.720000,80.000000,yes,yes,2.0,3.0,Frequently,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Overweight_Level_II
13,Male,41.000000,1.800000,99.000000,no,yes,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Automobile,Obesity_Type_I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

# Updating and Modification

- ### every modification applies to the original dataframs itself and not the file
- ## we can use
- - loc
  - iloc
  - at
  - iat

In [25]:
obesity_data.loc[:, 'family_history'] = 'no' # changing everyone family history to no
obesity_data.sample(5)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
894,Male,26.787842,1.817641,87.107317,no,yes,2.971588,2.743277,Sometimes,no,1.394883,no,2.000000,0.470243,no,Automobile,Overweight_Level_I
1169,Male,23.154311,1.723072,82.338464,no,yes,2.315932,2.658478,Sometimes,no,1.568476,no,0.949976,0.544899,Sometimes,Public_Transportation,Overweight_Level_II
1711,Male,28.986237,1.758618,113.501549,no,yes,2.320201,3.000000,Sometimes,no,2.164784,no,0.000000,1.465479,Sometimes,Automobile,Obesity_Type_II
426,Male,22.000000,1.750000,70.000000,no,no,2.000000,3.000000,Sometimes,no,3.000000,no,1.000000,1.000000,no,Public_Transportation,Normal_Weight
1464,Male,20.654752,1.780791,102.921218,no,yes,2.000000,3.000000,Sometimes,no,1.613829,no,1.251665,0.000000,Sometimes,Public_Transportation,Obesity_Type_I

In [26]:
obesity_data.loc[[1,4,3,5,24],['Age','Height','Weight','Gender']] = (20, 1.79, 105, 'Male')
obesity_data.loc[[1,4,3,5,24],['Age','Height','Weight','Gender']]
#   obesity_data[[1,4,3,5,24],['Age','Height','Weight','Gender']] # this wont work as shorthand doesnot accept a more than two parameters

     Age  Height  Weight Gender
1   20.0    1.79   105.0   Male
4   20.0    1.79   105.0   Male
3   20.0    1.79   105.0   Male
5   20.0    1.79   105.0   Male
24  20.0    1.79   105.0   Male

In [27]:
obesity_data.iloc[[3,5,24],[2,3,4]] = (1.79, 75, 'yes')
obesity_data.iloc[[3,5,24],[2,3,4]]

    Height  Weight family_history
3     1.79    75.0            yes
5     1.79    75.0            yes
24    1.79    75.0            yes

In [28]:
obesity_data['family_history'] = 'yes'
obesity_data['family_history']

0       yes
1       yes
2       yes
3       yes
4       yes
       ...
2106    yes
2107    yes
2108    yes
2109    yes
2110    yes
Name: family_history, Length: 2111, dtype: object

# Transformations
## Apply() give a new dataframe with the applied changes and does not change the original dataframe

In [29]:
def increment_by_5(x):
    return x + 5
def decrement_by_5(x):
    return x - 5


obesity_data['Age'] = obesity_data['Age'].apply(increment_by_5)
print(obesity_data['Age'])
obesity_data['Age'] = obesity_data['Age'].apply(decrement_by_5)
print(obesity_data['Age'])

0       26.000000
1       25.000000
2       28.000000
3       25.000000
4       25.000000
          ...
2106    25.976842
2107    26.982942
2108    27.524036
2109    29.361936
2110    28.664709
Name: Age, Length: 2111, dtype: float64
0       21.000000
1       20.000000
2       23.000000
3       20.000000
4       20.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

### lambda function with apply()

In [30]:
obesity_data['Age'] = obesity_data['Age'].apply(lambda x: x - 5)
print(obesity_data['Age'])

0       16.000000
1       15.000000
2       18.000000
3       15.000000
4       15.000000
          ...
2106    15.976842
2107    16.982942
2108    17.524036
2109    19.361936
2110    18.664709
Name: Age, Length: 2111, dtype: float64

# Creating a new column

In [31]:
def ageCategoriser(x):
    if x in range(20,26):
        return 'Young Adult'
    elif x in range(26,30):
        return 'Adult'
    elif x < 20:
        return 'Child'
    else:
        return 'Old'

obesity_data['Age Category'] = obesity_data['Age'].apply(ageCategoriser)
print(obesity_data.sample(10))

      Gender        Age    Height      Weight family_history FAVC      FCVC  \
2039  Female  20.951737  1.629442  104.835346            yes  yes  3.000000
1387  Female  38.376340  1.582523   81.919454            yes  yes  2.766320
174     Male  16.000000  1.620000   70.000000            yes  yes  2.000000
1464    Male  15.654752  1.780791  102.921218            yes  yes  2.000000
91    Female  15.000000  1.610000   64.000000            yes   no  3.000000
22    Female  17.000000  1.650000   60.000000            yes  yes  3.000000
492     Male  40.000000  1.700000   86.000000            yes  yes  3.000000
1134  Female  16.001282  1.517998   64.696248            yes   no  2.123900
1758    Male  19.186273  1.794827  120.919703            yes  yes  2.611847
1499    Male  18.246702  1.652971   93.310284            yes  yes  1.368978

           NCP        CAEC SMOKE      CH2O  SCC       FAF       TUE  \
2039  3.000000   Sometimes    no  2.225139   no  0.035928  0.565315
1387  1.317884   Sometimes    no  1.889341   no  0.990642  0.000000
174   1.000000          no    no  3.000000   no  1.000000  0.000000
1464  3.000000   Sometimes    no  1.613829   no  1.251665  0.000000
91    3.000000      Always    no  2.000000  yes  0.000000  1.000000
22    3.000000   Sometimes    no  2.000000   no  1.000000  0.000000
492   3.000000  Frequently    no  1.000000   no  0.000000  0.000000
1134  1.672958   Sometimes    no  2.000000   no  1.582428  1.313363
1758  2.749334   Sometimes    no  2.364849   no  1.141708  0.063005
1499  3.000000   Sometimes    no  1.953152   no  0.104707  0.221830

            CALC                 MTRANS              Obesity Age Category
2039   Sometimes  Public_Transportation     Obesity_Type_III          Old
1387          no             Automobile       Obesity_Type_I          Old
174    Sometimes  Public_Transportation   Overweight_Level_I        Child
1464   Sometimes  Public_Transportation       Obesity_Type_I        Child
91    Frequently  Public_Transportation        Normal_Weight        Child
22     Sometimes             Automobile        Normal_Weight        Child
492           no             Automobile  Overweight_Level_II          Old
1134          no  Public_Transportation  Overweight_Level_II        Child
1758   Sometimes  Public_Transportation      Obesity_Type_II        Child
1499          no             Automobile       Obesity_Type_I        Child

### Pandas is built on top of numpy so it will work smoothly with numpy

### we can use numpy's Vectorize for transformations and creating a new column

In [32]:
import numpy as np

obesity_data['Whether Teen'] = np.where( (obesity_data['Age'] >=13) & (obesity_data['Age'] <= 19), 'yes', 'no' )
obesity_data.sample(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,Whether Teen
242,Female,15.000000,1.630000,64.000000,yes,yes,1.000000,3.000000,Always,no,2.000000,no,0.000000,2.000000,no,Automobile,Normal_Weight,Child,yes
1294,Female,18.000000,1.628168,84.497980,yes,yes,2.058687,2.962004,Sometimes,no,2.010596,no,0.851059,0.630866,no,Public_Transportation,Obesity_Type_I,Child,yes
1187,Male,30.719457,1.685947,83.325800,yes,yes,2.000000,1.009426,Sometimes,no,2.136398,no,1.060349,0.000000,no,Automobile,Overweight_Level_II,Old,no
757,Female,16.845025,1.613668,68.126955,yes,yes,1.758394,3.981997,Sometimes,no,2.174248,no,0.920476,1.358163,Sometimes,Public_Transportation,Overweight_Level_I,Child,yes
1604,Male,19.521879,1.623278,97.582959,yes,yes,2.973569,2.650088,Sometimes,no,1.003063,no,1.981154,0.157007,no,Public_Transportation,Obesity_Type_II,Child,no
1962,Female,21.000000,1.627532,106.690530,yes,yes,3.000000,3.000000,Sometimes,no,2.569713,no,0.000000,0.396972,Sometimes,Public_Transportation,Obesity_Type_III,Young Adult,no
1616,Male,17.977357,1.839699,120.431551,yes,yes,2.382705,2.938902,Sometimes,no,1.999278,no,1.686229,0.630866,Sometimes,Public_Transportation,Obesity_Type_II,Child,yes
51,Female,15.000000,1.500000,44.000000,yes,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight,Child,yes
1000,Female,20.461411,1.700000,78.055968,yes,yes,2.661556,3.000000,Sometimes,no,3.000000,no,0.551810,0.658783,Sometimes,Public_Transportation,Overweight_Level_II,Old,no
1015,Male,16.808159,1.650000,80.000000,yes,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.826609,2.000000,no,Public_Transportation,Overweight_Level_II,Child,yes
1767,Male,20.057878,1.763987,113.069667,yes,yes,1.412566,3.000000,Sometimes,no,2.002495,no,1.592795,0.001867,Sometimes,Public_Transportation,Obesity_Type_II,Old,no
955,Female,29.772902,1.675612,73.501233,yes,yes,3.000000,2.400943,Sometimes,no,1.509734,no,0.167125,0.000000,Sometimes,Automobile,Overweight_Level_I,Old,no
623,Female,29.799519,1.689141,50.000000,yes,yes,2.652779,3.804944,Frequently,no,1.601140,no,0.174692,0.096982,no,Public_Transportation,Insufficient_Weight,Old,no
1460,Male,18.000000,1.742500,105.028665,yes,yes,2.393837,3.000000,Sometimes,no,2.014990,no,0.978815,0.413220,Sometimes,Public_Transportation,Obesity_Type_I,Child,yes
549,Female,24.970445,1.610863,49.516027,yes,yes,2.059138,3.904858,Frequently,no,2.000000,no,0.821977,0.000000,no,Public_Transportation,Insufficient_Weight,Old,no
1358,Male,13.000000,1.792687,108.204547,yes,yes,2.000000,2.478794,Sometimes,no,2.967064,no,1.000000,0.434600,no,Public_Transportation,Obesity_Type_I,Child,yes
1858,Female,21.000000,1.610636,105.423532,yes,yes,3.000000,3.000000,Sometimes,no,2.180566,no,0.000000,0.519905,Sometimes,Public_Transportation,Obesity_Type_III,Young Adult,no
616,Female,15.519916,1.725548,49.815599,yes,no,2.890535,3.907790,Frequently,no,1.109115,no,1.548953,0.555468,no,Public_Transportation,Insufficient_Weight,Child,yes
149,Female,27.000000,1.670000,90.000000,yes,yes,3.000000,1.000000,Sometimes,no,2.000000,no,2.000000,0.000000,Sometimes,Automobile,Obesity_Type_I,Adult,no
206,Male,14.000000,1.750000,100.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,2.000000,0.000000,no,Public_Transportation,Obesity_Type_I,Child,yes

# insertion

In [33]:
obesity_data.insert(2, 'BMI', 20) # create new column at index 2 with 20 as its values
obesity_data.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,Whether Teen
0,Female,16.0,20,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Child,yes
1,Male,15.0,20,1.79,105.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes
2,Male,18.0,20,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Child,yes
3,Male,15.0,20,1.79,75.0,yes,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Child,yes
4,Male,15.0,20,1.79,105.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Child,yes

### Deleting a column

In [34]:
# obesity_data.drop(columns = 'BMI') # This wont change the dataframe
# obesity_data.drop(columns = 'BMI', inplace = True) # this will
obesity_data = obesity_data.drop(columns = 'BMI') # even this will
obesity_data.sample(5)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,Whether Teen
409,Female,28.000000,1.550000,55.000000,yes,yes,3.000000,1.000000,Sometimes,no,3.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight,Adult,no
1719,Male,25.361365,1.758530,111.635463,yes,yes,1.263216,3.219347,Sometimes,no,1.981782,no,0.482625,0.000000,Sometimes,Automobile,Obesity_Type_II,Old,no
1021,Female,16.673150,1.500000,63.652330,yes,no,2.000000,1.474836,Sometimes,no,2.000000,no,0.274838,0.613902,no,Public_Transportation,Overweight_Level_II,Child,yes
951,Female,12.420269,1.489409,53.620604,yes,yes,1.836554,1.865238,Sometimes,no,2.000000,yes,0.320209,1.969507,Sometimes,Public_Transportation,Overweight_Level_I,Child,no
1142,Male,18.000000,1.672101,80.939733,yes,yes,2.000000,2.395785,Sometimes,no,1.400770,no,0.788659,1.544357,no,Public_Transportation,Overweight_Level_II,Child,yes

In [35]:
# insertion with calculation and relativity
obesity_data.insert(2, 'BMI',(obesity_data['Weight']/obesity_data['Height']**2))

In [36]:
obesity_data.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,Whether Teen
0,Female,16.0,24.386526,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Child,yes
1,Male,15.0,32.770513,1.79,105.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes
2,Male,18.0,23.765432,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Child,yes
3,Male,15.0,23.407509,1.79,75.0,yes,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Child,yes
4,Male,15.0,32.770513,1.79,105.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Child,yes

In [37]:
obesity_data = obesity_data.drop(columns = 'BMI') # deleting bmi

In [38]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,Whether Teen
0,Female,16.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Child,yes
1,Male,15.0,1.79,105.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes
2,Male,18.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Child,yes
3,Male,15.0,1.79,75.0,yes,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Child,yes
4,Male,15.0,1.79,105.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Child,yes

### droping multiple columns

In [39]:
# creating to demonstrate deleting multiple values
obesity_data.insert(2, 'BMI',(obesity_data['Weight']/obesity_data['Height']**2))
obesity_data.insert(2, 'BMI newer', 20)

In [40]:
obesity_data.head()

,Gender,Age,BMI newer,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,...,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,Whether Teen
0,Female,16.0,20,24.386526,1.62,64.0,yes,no,2.0,3.0,...,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Child,yes
1,Male,15.0,20,32.770513,1.79,105.0,yes,no,3.0,3.0,...,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes
2,Male,18.0,20,23.765432,1.80,77.0,yes,no,2.0,3.0,...,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Child,yes
3,Male,15.0,20,23.407509,1.79,75.0,yes,no,3.0,3.0,...,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Child,yes
4,Male,15.0,20,32.770513,1.79,105.0,yes,no,2.0,1.0,...,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Child,yes

In [41]:
obesity_data.drop(columns=['BMI','BMI newer'], inplace = True)

In [42]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,Whether Teen
0,Female,16.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Child,yes
1,Male,15.0,1.79,105.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes
2,Male,18.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Child,yes
3,Male,15.0,1.79,75.0,yes,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Child,yes
4,Male,15.0,1.79,105.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Child,yes

# Deleting columns without pandas function

In [43]:
del obesity_data['CAEC']

In [44]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,Whether Teen
0,Female,16.0,1.62,64.0,yes,no,2.0,3.0,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Child,yes
1,Male,15.0,1.79,105.0,yes,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes
2,Male,18.0,1.80,77.0,yes,no,2.0,3.0,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Child,yes
3,Male,15.0,1.79,75.0,yes,no,3.0,3.0,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Child,yes
4,Male,15.0,1.79,105.0,yes,no,2.0,1.0,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Child,yes

# Renaming Columns

In [45]:
obesity_data.rename(columns= {'Whether Teen': 'is Teen'}) # will not change the og dataframe
obesity_data.rename(columns = {'Whether Teen': 'is Teen'}, inplace = True) # this will
print(obesity_data.head())
obesity_data = obesity_data.rename(columns = {'is Teen': 'Whether Teen'}) # this will
print(obesity_data.head())

   Gender   Age  Height  Weight family_history FAVC  FCVC  NCP SMOKE  CH2O  \
0  Female  16.0    1.62    64.0            yes   no   2.0  3.0    no   2.0
1    Male  15.0    1.79   105.0            yes   no   3.0  3.0   yes   3.0
2    Male  18.0    1.80    77.0            yes   no   2.0  3.0    no   2.0
3    Male  15.0    1.79    75.0            yes   no   3.0  3.0    no   2.0
4    Male  15.0    1.79   105.0            yes   no   2.0  1.0    no   2.0

   SCC  FAF  TUE        CALC                 MTRANS              Obesity  \
0   no  0.0  1.0          no  Public_Transportation        Normal_Weight
1  yes  3.0  0.0   Sometimes  Public_Transportation        Normal_Weight
2   no  2.0  1.0  Frequently  Public_Transportation        Normal_Weight
3   no  2.0  0.0  Frequently                Walking   Overweight_Level_I
4   no  0.0  0.0   Sometimes  Public_Transportation  Overweight_Level_II

  Age Category is Teen
0        Child     yes
1        Child     yes
2        Child     yes
3        Child     yes
4        Child     yes
   Gender   Age  Height  Weight family_history FAVC  FCVC  NCP SMOKE  CH2O  \
0  Female  16.0    1.62    64.0            yes   no   2.0  3.0    no   2.0
1    Male  15.0    1.79   105.0            yes   no   3.0  3.0   yes   3.0
2    Male  18.0    1.80    77.0            yes   no   2.0  3.0    no   2.0
3    Male  15.0    1.79    75.0            yes   no   3.0  3.0    no   2.0
4    Male  15.0    1.79   105.0            yes   no   2.0  1.0    no   2.0

   SCC  FAF  TUE        CALC                 MTRANS              Obesity  \
0   no  0.0  1.0          no  Public_Transportation        Normal_Weight
1  yes  3.0  0.0   Sometimes  Public_Transportation        Normal_Weight
2   no  2.0  1.0  Frequently  Public_Transportation        Normal_Weight
3   no  2.0  0.0  Frequently                Walking   Overweight_Level_I
4   no  0.0  0.0   Sometimes  Public_Transportation  Overweight_Level_II

  Age Category Whether Teen
0        Child          yes
1        Child          yes
2        Child          yes
3        Child          yes
4        Child          yes

### renaming Multiple columns

In [46]:
obesity_data.rename(columns = {'Whether Teen': 'is Teen', 'Age Category': 'Age Group'}, inplace = True)

In [47]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Group,is Teen
0,Female,16.0,1.62,64.0,yes,no,2.0,3.0,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Child,yes
1,Male,15.0,1.79,105.0,yes,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes
2,Male,18.0,1.80,77.0,yes,no,2.0,3.0,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Child,yes
3,Male,15.0,1.79,75.0,yes,no,3.0,3.0,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Child,yes
4,Male,15.0,1.79,105.0,yes,no,2.0,1.0,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Child,yes

# Merging DataFrames

## merging dataframes is similar to joins in sql
### inner join
### outer join
### left join
### right join

In [48]:
df1 = pd.DataFrame(
    {
        "id": [1,2,3,4],
        "name": ["Abhinesh","KrishnaPriya","A","K"]
    }
)
df2 = pd.DataFrame(
    {
        "id": [3,4,5,6],
        "skill": ["Scientist","Artist","Engineer","Teacher"]
    }
)
inner_join = pd.merge(df1,df2, how='inner', on="id") #on is the primary key
print(inner_join)
outer_join = pd.merge(df1,df2, how='outer', on="id")
print(outer_join)
left_join = pd.merge(df1,df2, how='left', on="id")
print(left_join)
right_join = pd.merge(df1,df2, how='right', on="id")
print(right_join)

   id name      skill
0   3    A  Scientist
1   4    K     Artist
   id          name      skill
0   1      Abhinesh        NaN
1   2  KrishnaPriya        NaN
2   3             A  Scientist
3   4             K     Artist
4   5           NaN   Engineer
5   6           NaN    Teacher
   id          name      skill
0   1      Abhinesh        NaN
1   2  KrishnaPriya        NaN
2   3             A  Scientist
3   4             K     Artist
   id name      skill
0   3    A  Scientist
1   4    K     Artist
2   5  NaN   Engineer
3   6  NaN    Teacher

## Sometime the columnname  maybe different so,

In [49]:
df1 = pd.DataFrame(
    {
        "id1": [1,2,3,4],
        "name": ["Abhinesh","KrishnaPriya","A","K"]
    }
)
df2 = pd.DataFrame(
    {
        "id2": [3,4,5,6],
        "skill": ["Scientist","Artist","Engineer","Teacher"]
    }
)
inner_join = pd.merge(df1,df2, how='inner', left_on="id1", right_on="id2") # left_on is df1's primary key and right_on is df2's primary key
print(inner_join)
outer_join = pd.merge(df1,df2, how='outer', left_on="id1", right_on="id2")
print(outer_join)
left_join = pd.merge(df1,df2, how='left', left_on="id1", right_on="id2")
print(left_join)
right_join = pd.merge(df1,df2, how='right', left_on="id1", right_on="id2")
print(right_join)

   id1 name  id2      skill
0    3    A    3  Scientist
1    4    K    4     Artist
   id1          name  id2      skill
0  1.0      Abhinesh  NaN        NaN
1  2.0  KrishnaPriya  NaN        NaN
2  3.0             A  3.0  Scientist
3  4.0             K  4.0     Artist
4  NaN           NaN  5.0   Engineer
5  NaN           NaN  6.0    Teacher
   id1          name  id2      skill
0    1      Abhinesh  NaN        NaN
1    2  KrishnaPriya  NaN        NaN
2    3             A  3.0  Scientist
3    4             K  4.0     Artist
   id1 name  id2      skill
0  3.0    A    3  Scientist
1  4.0    K    4     Artist
2  NaN  NaN    5   Engineer
3  NaN  NaN    6    Teacher

# Concatenating DataFrams
### its not merging where we need primary key, it just concatenates by vertically stacking or fusing horizontally

In [50]:
concated_df = pd.concat([df1, df2], axis=0)
# axis=0 is vertical Stacking while 1 is horizontal
print(concated_df)

   id1          name  id2      skill
0  1.0      Abhinesh  NaN        NaN
1  2.0  KrishnaPriya  NaN        NaN
2  3.0             A  NaN        NaN
3  4.0             K  NaN        NaN
0  NaN           NaN  3.0  Scientist
1  NaN           NaN  4.0     Artist
2  NaN           NaN  5.0   Engineer
3  NaN           NaN  6.0    Teacher

In [51]:
# since it is taking previous index, to assign a new index
concated_df = pd.concat([df1,df2], axis = 0, ignore_index = True)
print(concated_df)

   id1          name  id2      skill
0  1.0      Abhinesh  NaN        NaN
1  2.0  KrishnaPriya  NaN        NaN
2  3.0             A  NaN        NaN
3  4.0             K  NaN        NaN
4  NaN           NaN  3.0  Scientist
5  NaN           NaN  4.0     Artist
6  NaN           NaN  5.0   Engineer
7  NaN           NaN  6.0    Teacher

In [52]:
# horizontal merge
concated_hdf = pd.concat([df1,df2], axis = 1)
print(concated_hdf)

   id1          name  id2      skill
0    1      Abhinesh    3  Scientist
1    2  KrishnaPriya    4     Artist
2    3             A    5   Engineer
3    4             K    6    Teacher

In [53]:
# multilevel indexing
concated_df = pd.concat([df1,df2], axis = 0, keys=["dataF1", "dataF2"])
print(concated_df)

          id1          name  id2      skill
dataF1 0  1.0      Abhinesh  NaN        NaN
       1  2.0  KrishnaPriya  NaN        NaN
       2  3.0             A  NaN        NaN
       3  4.0             K  NaN        NaN
dataF2 0  NaN           NaN  3.0  Scientist
       1  NaN           NaN  4.0     Artist
       2  NaN           NaN  5.0   Engineer
       3  NaN           NaN  6.0    Teacher

# Handling Null, NaN values

In [54]:
concated_df.isna() # print is a value is null/nan or not in df format itself

            id1   name    id2  skill
dataF1 0  False  False   True   True
       1  False  False   True   True
       2  False  False   True   True
       3  False  False   True   True
dataF2 0   True   True  False  False
       1   True   True  False  False
       2   True   True  False  False
       3   True   True  False  False

In [55]:
concated_df.notna() # opposit of na

            id1   name    id2  skill
dataF1 0   True   True  False  False
       1   True   True  False  False
       2   True   True  False  False
       3   True   True  False  False
dataF2 0  False  False   True   True
       1  False  False   True   True
       2  False  False   True   True
       3  False  False   True   True

In [56]:
concated_df.isna().sum()

id1      4
name     4
id2      4
skill    4
dtype: int64

In [57]:
concated_df.notna().sum()

id1      4
name     4
id2      4
skill    4
dtype: int64

In [58]:
obesity_data.isna().sum() # no null data in obesity

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
Age Group         0
is Teen           0
dtype: int64

In [59]:
obesity_data.notna().sum()

Gender            2111
Age               2111
Height            2111
Weight            2111
family_history    2111
FAVC              2111
FCVC              2111
NCP               2111
SMOKE             2111
CH2O              2111
SCC               2111
FAF               2111
TUE               2111
CALC              2111
MTRANS            2111
Obesity           2111
Age Group         2111
is Teen           2111
dtype: int64

## Putting in some null value in obesity

In [60]:
obesity_data.loc[20:30,'Age'] = np.nan # np nan nummber
obesity_data.loc[50:100,"SMOKE"] = np.nan
obesity_data.loc[500:520, "family_history"] = np.nan

In [61]:
obesity_data.sample(30)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Group,is Teen
368,Female,32.000000,1.680000,83.000000,yes,yes,2.000000,1.000000,no,2.000000,no,0.000000,0.000000,no,Automobile,Overweight_Level_II,Old,no
1357,Male,13.000000,1.784402,108.413119,yes,yes,2.000000,2.475444,no,2.655795,no,1.000000,0.169879,no,Public_Transportation,Obesity_Type_I,Child,yes
475,Female,13.000000,1.620000,68.000000,yes,no,2.000000,1.000000,no,1.000000,no,0.000000,2.000000,no,Public_Transportation,Overweight_Level_I,Child,yes
768,Male,14.637947,1.809101,85.000000,yes,yes,3.000000,3.000000,no,2.229171,no,1.607953,0.628059,Sometimes,Public_Transportation,Overweight_Level_I,Child,yes
302,Male,11.000000,1.840000,45.000000,yes,yes,3.000000,3.000000,no,3.000000,no,3.000000,2.000000,Sometimes,Walking,Insufficient_Weight,Child,no
1886,Female,21.000000,1.649178,111.914361,yes,yes,3.000000,3.000000,no,2.884077,no,0.000000,0.096576,Sometimes,Public_Transportation,Obesity_Type_III,Young Adult,no
1639,Male,21.050109,1.773115,115.089316,yes,yes,2.392179,3.000000,no,2.164670,no,1.079934,1.073026,Sometimes,Public_Transportation,Obesity_Type_II,Old,no
1207,Male,34.585811,1.719153,86.464843,yes,yes,2.325623,1.313403,no,1.946090,no,0.604259,0.000000,no,Automobile,Overweight_Level_II,Old,no
1401,Female,34.129291,1.532643,77.550345,yes,yes,2.000000,3.000000,no,1.186996,no,0.000000,0.000000,Sometimes,Automobile,Obesity_Type_I,Old,no
90,Female,20.000000,1.630000,93.000000,yes,no,3.000000,4.000000,NaN,1.000000,no,2.000000,0.000000,no,Public_Transportation,Obesity_Type_II,Young Adult,no
868,Female,16.837058,1.558045,63.597633,yes,yes,2.539150,1.590982,no,1.977801,no,1.264616,0.000000,Sometimes,Public_Transportation,Overweight_Level_I,Child,yes
1798,Male,21.844812,1.691510,102.595180,yes,yes,2.680375,1.089048,no,1.366238,no,0.181324,1.041677,no,Public_Transportation,Obesity_Type_II,Old,no
1925,Female,15.089969,1.801478,151.417292,yes,yes,3.000000,3.000000,no,2.226081,no,1.881761,0.933964,Sometimes,Public_Transportation,Obesity_Type_III,Child,yes
589,Female,14.948140,1.530884,39.371523,yes,yes,1.522001,3.000000,no,1.981260,no,2.306844,0.720454,Sometimes,Public_Transportation,Insufficient_Weight,Child,yes
2057,Female,21.000000,1.632983,111.157811,yes,yes,3.000000,3.000000,no,2.638896,no,0.000000,0.224559,Sometimes,Public_Transportation,Obesity_Type_III,Young Adult,no
125,Male,13.000000,1.750000,80.000000,yes,yes,2.000000,3.000000,no,2.000000,no,0.000000,0.000000,Frequently,Public_Transportation,Overweight_Level_I,Child,yes
1609,Male,17.658572,1.784994,113.714521,yes,yes,1.760038,3.000000,no,2.003531,no,1.089061,0.072264,Sometimes,Public_Transportation,Obesity_Type_II,Child,yes
48,Female,15.000000,1.660000,60.000000,yes,no,3.000000,3.000000,no,2.000000,no,1.000000,0.000000,Sometimes,Walking,Normal_Weight,Child,yes
41,Male,18.000000,1.680000,60.000000,yes,no,2.000000,4.000000,no,2.000000,no,0.000000,0.000000,no,Walking,Normal_Weight,Child,yes
1881,Female,19.475242,1.694726,112.776612,yes,yes,3.000000,3.000000,no,2.724099,no,0.336795,0.153462,Sometimes,Public_Transportation,Obesity_Type_III,Child,no
138,Male,26.000000,1.760000,75.000000,yes,no,3.000000,3.000000,no,3.000000,yes,3.000000,0.000000,no,Bike,Normal_Weight,Adult,no
473,Female,13.000000,1.630000,51.000000,yes,yes,1.000000,3.000000,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,Child,yes
303,Female,11.000000,1.570000,49.000000,yes,yes,2.000000,4.000000,no,2.000000,no,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight,Child,no
1283,Female,25.163408,1.533364,78.030383,yes,yes,2.028225,1.923607,no,1.798917,no,0.000000,0.000000,no,Public_Transportation,Obesity_Type_I,Old,no
1785,Male,18.912387,1.774983,119.081804,yes,yes,2.425503,2.996834,no,2.017602,no,1.580263,0.531769,Sometimes,Public_Transportation,Obesity_Type_II,Child,yes
147,Female,31.000000,1.630000,80.000000,yes,no,3.000000,3.000000,no,1.000000,no,0.000000,0.000000,Sometimes,Automobile,Obesity_Type_I,Old,no
1075,Female,18.000000,1.681314,80.037202,yes,yes,2.000000,2.979600,no,1.964435,no,0.189957,1.732160,no,Public_Transportation,Overweight_Level_II,Child,yes
2046,Female,20.895546,1.626179,110.074019,yes,yes,3.000000,3.000000,no,1.967707,no,0.014370,0.434073,Sometimes,Public_Transportation,Obesity_Type_III,Old,no
1643,Male,23.493397,1.817572,120.815800,yes,yes,2.969233,3.000000,no,2.807984,no,0.982134,1.191998,Sometimes,Public_Transportation,Obesity_Type_II,Old,no
317,Male,13.000000,1.750000,70.000000,yes,yes,3.000000,4.000000,no,2.000000,no,1.000000,1.000000,no,Public_Transportation,Normal_Weight,Child,yes

## Managing the null

In [62]:
obesity_data.fillna(0) # fill all nan with 0 does not change the df
obesity_data.fillna(0, inplace = True) # changes the df
print(obesity_data.loc[500:510])
print(obesity_data.sample(10))

     Gender        Age    Height      Weight family_history FAVC      FCVC  \
500  Female  21.000000  1.622397  110.792630              0  yes  3.000000
501  Female  16.853826  1.755643  137.796884              0  yes  3.000000
502  Female  16.900120  1.843419  165.057269              0  yes  3.000000
503  Female  13.306615  1.745600  133.034410              0  yes  3.000000
504  Female  21.000000  1.630927  111.485516              0  yes  3.000000
505  Female  21.000000  1.629191  104.826776              0  yes  3.000000
506  Female  16.849705  1.770612  133.963349              0  yes  3.000000
507    Male  14.799054  1.743702   54.927529              0  yes  2.000000
508    Male  12.188754  1.771915   55.695036              0  yes  2.000000
509    Male  17.285024  1.753760   55.879263              0  yes  2.450218
510  Female  17.000000  1.675446   51.154201              0  yes  3.000000

          NCP SMOKE      CH2O SCC       FAF       TUE       CALC  \
500  3.000000    no  2.704507  no  0.000000  0.294990  Sometimes
501  3.000000    no  2.184707  no  1.978631  0.838957  Sometimes
502  3.000000    no  2.406541  no  0.100320  0.479221  Sometimes
503  3.000000    no  2.984323  no  1.586525  0.625350  Sometimes
504  3.000000    no  2.444125  no  0.000000  0.265790  Sometimes
505  3.000000    no  2.654702  no  0.000000  0.555468  Sometimes
506  3.000000    no  2.825629  no  1.399183  0.928972  Sometimes
507  3.289260    no  2.847264  no  1.680844  2.000000  Sometimes
508  4.000000    no  2.884033  no  2.000000  1.340107  Sometimes
509  3.995147    no  2.147746  no  2.000000  0.589980  Sometimes
510  3.000000    no  2.815293  no  1.978631  1.000000         no

                    MTRANS              Obesity    Age Group is Teen
500  Public_Transportation     Obesity_Type_III  Young Adult      no
501  Public_Transportation     Obesity_Type_III        Child     yes
502  Public_Transportation     Obesity_Type_III        Child     yes
503  Public_Transportation     Obesity_Type_III        Child     yes
504  Public_Transportation     Obesity_Type_III  Young Adult      no
505  Public_Transportation     Obesity_Type_III  Young Adult      no
506  Public_Transportation     Obesity_Type_III        Child     yes
507  Public_Transportation  Insufficient_Weight        Child     yes
508  Public_Transportation  Insufficient_Weight        Child      no
509  Public_Transportation  Insufficient_Weight        Child     yes
510  Public_Transportation  Insufficient_Weight        Child     yes
      Gender        Age    Height      Weight family_history FAVC      FCVC  \
839     Male  14.789291  1.820643   85.000000            yes  yes  3.000000
1588    Male  20.100513  1.830596  118.424156            yes  yes  1.455602
430     Male  13.000000  1.650000   85.000000            yes  yes  2.000000
1480    Male  15.534089  1.861358  115.397920            yes  yes  2.000000
1760    Male  26.490699  1.773521  120.209711            yes  yes  2.777165
1152    Male  17.988004  1.808270   91.363293            yes  yes  1.963965
1464    Male  15.654752  1.780791  102.921218            yes  yes  2.000000
556     Male  13.000000  1.781543   50.869704            yes  yes  2.052932
1930  Female  20.982113  1.627818  105.428628            yes  yes  3.000000
598     Male  13.000000  1.706530   51.121749            yes  yes  2.000000

           NCP SMOKE      CH2O SCC       FAF       TUE       CALC  \
839   3.000000    no  2.759246  no  1.763277  0.453314  Sometimes
1588  3.000000    no  2.363307  no  1.144683  0.101026  Sometimes
430   3.000000    no  1.000000  no  1.000000  0.000000  Sometimes
1480  3.000000    no  3.000000  no  0.987591  1.914531  Sometimes
1760  3.000000    no  2.106861  no  0.925941  0.291600  Sometimes
1152  1.836226    no  1.855370  no  0.000000  1.667745  Sometimes
1464  3.000000    no  1.613829  no  1.251665  0.000000  Sometimes
556   3.000000    no  2.000000  no  0.520408  1.000000  Sometimes
1930  3.000000    no  1.480750  no  0.098043  0.663492  Sometimes
598   3.000000    no  2.000000  no  0.000000  1.329237  Sometimes

                     MTRANS              Obesity Age Group is Teen
839   Public_Transportation   Overweight_Level_I     Child     yes
1588  Public_Transportation      Obesity_Type_II       Old      no
430   Public_Transportation       Obesity_Type_I     Child     yes
1480  Public_Transportation       Obesity_Type_I     Child     yes
1760             Automobile      Obesity_Type_II       Old      no
1152  Public_Transportation  Overweight_Level_II     Child     yes
1464  Public_Transportation       Obesity_Type_I     Child     yes
556   Public_Transportation  Insufficient_Weight     Child     yes
1930  Public_Transportation     Obesity_Type_III       Old      no
598   Public_Transportation  Insufficient_Weight     Child     yes

In [63]:
obesity_data.loc[20:30,'Age'] = np.nan # np nan nummber
obesity_data.loc[50:55,"SMOKE"] = np.nan
obesity_data.loc[60:68, "family_history"] = np.nan
print(obesity_data.loc[20:100])

     Gender   Age  Height  Weight family_history FAVC  FCVC  NCP SMOKE  CH2O  \
20     Male   NaN    1.65    80.0            yes   no   2.0  3.0    no   2.0
21   Female   NaN    1.69    87.0            yes  yes   3.0  1.0   yes   2.0
22   Female   NaN    1.65    60.0            yes  yes   3.0  3.0    no   2.0
23   Female   NaN    1.60    82.0            yes  yes   1.0  1.0    no   2.0
24     Male   NaN    1.79    75.0            yes  yes   2.0  3.0    no   2.0
..      ...   ...     ...     ...            ...  ...   ...  ...   ...   ...
96   Female  18.0    1.66    60.0            yes   no   2.0  3.0     0   2.0
97   Female  16.0    1.52    42.0            yes   no   3.0  1.0     0   1.0
98   Female  16.0    1.52    42.0            yes   no   3.0  1.0     0   1.0
99     Male  18.0    1.72    70.0            yes   no   2.0  3.0     0   2.0
100  Female  16.0    1.69    63.0            yes  yes   3.0  1.0     0   1.0

    SCC  FAF  TUE        CALC                 MTRANS              Obesity  \
20   no  3.0  2.0          no                Walking  Overweight_Level_II
21   no  0.0  0.0          no             Automobile       Obesity_Type_I
22   no  1.0  0.0   Sometimes             Automobile        Normal_Weight
23   no  0.0  2.0   Sometimes  Public_Transportation       Obesity_Type_I
24   no  0.0  1.0   Sometimes  Public_Transportation        Normal_Weight
..   ..  ...  ...         ...                    ...                  ...
96   no  3.0  0.0   Sometimes  Public_Transportation        Normal_Weight
97   no  0.0  0.0   Sometimes  Public_Transportation  Insufficient_Weight
98   no  0.0  0.0   Sometimes  Public_Transportation  Insufficient_Weight
99   no  3.0  1.0  Frequently  Public_Transportation        Normal_Weight
100  no  0.0  0.0   Sometimes  Public_Transportation        Normal_Weight

    Age Group is Teen
20      Child     yes
21        Old      no
22      Child     yes
23      Child     yes
24      Child     yes
..        ...     ...
96      Child     yes
97      Child     yes
98      Child     yes
99      Child     yes
100     Child     yes

[81 rows x 18 columns]

In [64]:
obesity_data['Age'] = obesity_data['Age'].fillna(20) # change nan on age column only

In [65]:
obesity_data['Age'] = obesity_data['Age'].fillna(obesity_data['Age'].mean()) # filling nan with mean

In [66]:
obesity_data.sample(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Group,is Teen
79,Male,18.000000,1.650000,60.000000,yes,no,2.000000,3.000000,0,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,Child,yes
1656,Male,35.174191,1.763029,116.974504,yes,yes,2.046651,2.842035,no,1.732072,no,0.584272,0.000000,Sometimes,Automobile,Obesity_Type_II,Old,no
619,Female,13.372563,1.589829,40.202773,yes,yes,2.000000,1.075553,no,1.000000,no,0.127425,1.679442,Sometimes,Public_Transportation,Insufficient_Weight,Child,yes
1394,Male,17.815416,1.732694,98.441130,yes,yes,2.000000,2.993623,no,2.326635,no,2.236586,1.529423,no,Public_Transportation,Obesity_Type_I,Child,yes
417,Male,13.000000,1.770000,87.000000,yes,yes,3.000000,3.000000,no,2.000000,no,1.000000,1.000000,Frequently,Public_Transportation,Overweight_Level_II,Child,yes
396,Female,33.000000,1.550000,59.000000,yes,no,3.000000,3.000000,no,1.000000,no,2.000000,1.000000,Frequently,Automobile,Normal_Weight,Old,no
1632,Male,23.992809,1.909105,129.874864,yes,yes,2.206119,3.000000,no,1.483856,no,1.113169,0.000000,Sometimes,Public_Transportation,Obesity_Type_II,Old,no
936,Female,16.979769,1.600000,66.126964,yes,yes,2.213135,3.000000,no,2.046766,no,2.172546,0.000000,Sometimes,Public_Transportation,Overweight_Level_I,Child,yes
1156,Male,29.432669,1.694997,84.451423,yes,yes,2.129668,2.693646,no,2.606690,no,1.170823,0.290898,no,Automobile,Overweight_Level_II,Old,no
1163,Male,16.473078,1.694423,80.311273,yes,yes,2.000000,2.646717,no,2.000000,no,2.627515,1.358812,no,Public_Transportation,Overweight_Level_II,Child,yes
706,Female,14.317148,1.731195,49.650897,yes,yes,2.919751,3.576103,no,1.949308,no,1.940182,1.000000,Sometimes,Public_Transportation,Insufficient_Weight,Child,yes
924,Female,24.934465,1.638744,69.242354,yes,yes,2.029634,3.000000,no,1.827515,no,0.480206,0.000000,Sometimes,Automobile,Overweight_Level_I,Old,no
86,Male,16.000000,1.850000,83.000000,yes,yes,2.000000,1.000000,0,3.000000,no,1.000000,0.000000,no,Public_Transportation,Normal_Weight,Child,yes
1064,Male,17.087389,1.786238,89.802492,yes,yes,1.718156,1.631184,no,2.000000,no,0.000000,0.306124,Sometimes,Public_Transportation,Overweight_Level_II,Child,yes
2090,Female,21.000000,1.643421,111.939983,yes,yes,3.000000,3.000000,no,2.722276,no,0.000000,0.091711,Sometimes,Public_Transportation,Obesity_Type_III,Young Adult,no
477,Female,13.000000,1.640000,56.000000,yes,yes,3.000000,3.000000,no,1.000000,yes,1.000000,1.000000,no,Public_Transportation,Normal_Weight,Child,yes
891,Female,15.901393,1.709585,75.000000,yes,yes,2.104105,3.000000,no,1.871033,no,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I,Child,yes
1878,Female,16.322097,1.751118,149.291106,yes,yes,3.000000,3.000000,no,2.309409,no,1.682910,0.705580,Sometimes,Public_Transportation,Obesity_Type_III,Child,yes
335,Male,14.000000,1.700000,50.000000,yes,yes,1.000000,4.000000,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight,Child,yes
1114,Male,28.009285,1.741192,84.773349,yes,yes,2.000000,3.000000,no,2.035954,no,1.210736,0.000000,no,Automobile,Overweight_Level_II,Old,no

## filling multiple column nulls

In [67]:
obesity_data.isna().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    9
FAVC              0
FCVC              0
NCP               0
SMOKE             6
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
Age Group         0
is Teen           0
dtype: int64

In [68]:
obesity_data.fillna({'SMOKE': 'no','family_history': 'no'})
obesity_data.fillna({'SMOKE': 'no','family_history': 'no'}, inplace = True)

In [69]:
obesity_data.isna().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
Age Group         0
is Teen           0
dtype: int64

In [70]:
obesity_data.loc[20:30,'Age'] = np.nan # np nan nummber
obesity_data.loc[50:55,"SMOKE"] = np.nan
obesity_data.loc[60:68, "family_history"] = np.nan
print(obesity_data.loc[20:100])

     Gender   Age  Height  Weight family_history FAVC  FCVC  NCP SMOKE  CH2O  \
20     Male   NaN    1.65    80.0            yes   no   2.0  3.0    no   2.0
21   Female   NaN    1.69    87.0            yes  yes   3.0  1.0   yes   2.0
22   Female   NaN    1.65    60.0            yes  yes   3.0  3.0    no   2.0
23   Female   NaN    1.60    82.0            yes  yes   1.0  1.0    no   2.0
24     Male   NaN    1.79    75.0            yes  yes   2.0  3.0    no   2.0
..      ...   ...     ...     ...            ...  ...   ...  ...   ...   ...
96   Female  18.0    1.66    60.0            yes   no   2.0  3.0     0   2.0
97   Female  16.0    1.52    42.0            yes   no   3.0  1.0     0   1.0
98   Female  16.0    1.52    42.0            yes   no   3.0  1.0     0   1.0
99     Male  18.0    1.72    70.0            yes   no   2.0  3.0     0   2.0
100  Female  16.0    1.69    63.0            yes  yes   3.0  1.0     0   1.0

    SCC  FAF  TUE        CALC                 MTRANS              Obesity  \
20   no  3.0  2.0          no                Walking  Overweight_Level_II
21   no  0.0  0.0          no             Automobile       Obesity_Type_I
22   no  1.0  0.0   Sometimes             Automobile        Normal_Weight
23   no  0.0  2.0   Sometimes  Public_Transportation       Obesity_Type_I
24   no  0.0  1.0   Sometimes  Public_Transportation        Normal_Weight
..   ..  ...  ...         ...                    ...                  ...
96   no  3.0  0.0   Sometimes  Public_Transportation        Normal_Weight
97   no  0.0  0.0   Sometimes  Public_Transportation  Insufficient_Weight
98   no  0.0  0.0   Sometimes  Public_Transportation  Insufficient_Weight
99   no  3.0  1.0  Frequently  Public_Transportation        Normal_Weight
100  no  0.0  0.0   Sometimes  Public_Transportation        Normal_Weight

    Age Group is Teen
20      Child     yes
21        Old      no
22      Child     yes
23      Child     yes
24      Child     yes
..        ...     ...
96      Child     yes
97      Child     yes
98      Child     yes
99      Child     yes
100     Child     yes

[81 rows x 18 columns]

# Interpolate
- it fill the nan with a value relative to neigbouring values on the same column

In [71]:
obesity_data['Age'] = obesity_data['Age'].fillna(obesity_data['Age'].interpolate())
obesity_data.loc[20:100]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Group,is Teen
20,Male,18.666667,1.65,80.0,yes,no,2.0,3.0,no,2.0,no,3.0,2.0,no,Walking,Overweight_Level_II,Child,yes
21,Female,19.333333,1.69,87.0,yes,yes,3.0,1.0,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,Old,no
22,Female,20.000000,1.65,60.0,yes,yes,3.0,3.0,no,2.0,no,1.0,0.0,Sometimes,Automobile,Normal_Weight,Child,yes
23,Female,20.666667,1.60,82.0,yes,yes,1.0,1.0,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,Child,yes
24,Male,21.333333,1.79,75.0,yes,yes,2.0,3.0,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Female,18.000000,1.66,60.0,yes,no,2.0,3.0,0,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes
97,Female,16.000000,1.52,42.0,yes,no,3.0,1.0,0,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight,Child,yes
98,Female,16.000000,1.52,42.0,yes,no,3.0,1.0,0,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight,Child,yes
99,Male,18.000000,1.72,70.0,yes,no,2.0,3.0,0,2.0,no,3.0,1.0,Frequently,Public_Transportation,Normal_Weight,Child,yes
100,Female,16.000000,1.69,63.0,yes,yes,3.0,1.0,0,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Child,yes

## limit
- we are setting limit to how manu nan it can change

In [72]:
obesity_data.loc[20:30,'Age'] = np.nan # np nan nummber
obesity_data.loc[50:55,"SMOKE"] = np.nan
obesity_data.loc[60:68, "family_history"] = np.nan
print(obesity_data.loc[20:100])

     Gender   Age  Height  Weight family_history FAVC  FCVC  NCP SMOKE  CH2O  \
20     Male   NaN    1.65    80.0            yes   no   2.0  3.0    no   2.0
21   Female   NaN    1.69    87.0            yes  yes   3.0  1.0   yes   2.0
22   Female   NaN    1.65    60.0            yes  yes   3.0  3.0    no   2.0
23   Female   NaN    1.60    82.0            yes  yes   1.0  1.0    no   2.0
24     Male   NaN    1.79    75.0            yes  yes   2.0  3.0    no   2.0
..      ...   ...     ...     ...            ...  ...   ...  ...   ...   ...
96   Female  18.0    1.66    60.0            yes   no   2.0  3.0     0   2.0
97   Female  16.0    1.52    42.0            yes   no   3.0  1.0     0   1.0
98   Female  16.0    1.52    42.0            yes   no   3.0  1.0     0   1.0
99     Male  18.0    1.72    70.0            yes   no   2.0  3.0     0   2.0
100  Female  16.0    1.69    63.0            yes  yes   3.0  1.0     0   1.0

    SCC  FAF  TUE        CALC                 MTRANS              Obesity  \
20   no  3.0  2.0          no                Walking  Overweight_Level_II
21   no  0.0  0.0          no             Automobile       Obesity_Type_I
22   no  1.0  0.0   Sometimes             Automobile        Normal_Weight
23   no  0.0  2.0   Sometimes  Public_Transportation       Obesity_Type_I
24   no  0.0  1.0   Sometimes  Public_Transportation        Normal_Weight
..   ..  ...  ...         ...                    ...                  ...
96   no  3.0  0.0   Sometimes  Public_Transportation        Normal_Weight
97   no  0.0  0.0   Sometimes  Public_Transportation  Insufficient_Weight
98   no  0.0  0.0   Sometimes  Public_Transportation  Insufficient_Weight
99   no  3.0  1.0  Frequently  Public_Transportation        Normal_Weight
100  no  0.0  0.0   Sometimes  Public_Transportation        Normal_Weight

    Age Group is Teen
20      Child     yes
21        Old      no
22      Child     yes
23      Child     yes
24      Child     yes
..        ...     ...
96      Child     yes
97      Child     yes
98      Child     yes
99      Child     yes
100     Child     yes

[81 rows x 18 columns]

In [73]:
obesity_data['Age'].isna().sum()

np.int64(11)

In [74]:
obesity_data['Age'] =obesity_data['Age'].fillna(0, limit = 3)

In [75]:
print(obesity_data.isna().sum())
print(obesity_data.shape)

Gender            0
Age               8
Height            0
Weight            0
family_history    9
FAVC              0
FCVC              0
NCP               0
SMOKE             6
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
Age Group         0
is Teen           0
dtype: int64
(2111, 18)

## drop rows with null

In [76]:
obesity_data.dropna() # does not change the df
obesity_data.dropna(inplace = True)

In [77]:
print(obesity_data.isna().sum())
print(obesity_data.shape)

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
Age Group         0
is Teen           0
dtype: int64
(2088, 18)

# Group By

In [78]:
print(obesity_data.groupby('Gender').count())
print(obesity_data.groupby('Gender')["Height"].mean())
print(obesity_data.groupby('Gender')["Weight"].median())
print(obesity_data.groupby('Gender')["Weight"].agg(['sum','mean']))

         Age  Height  Weight  family_history  FAVC  FCVC   NCP  SMOKE  CH2O  \
Gender
Female  1032    1032    1032            1032  1032  1032  1032   1032  1032
Male    1056    1056    1056            1056  1056  1056  1056   1056  1056

         SCC   FAF   TUE  CALC  MTRANS  Obesity  Age Group  is Teen
Gender
Female  1032  1032  1032  1032    1032     1032       1032     1032
Male    1056  1056  1056  1056    1056     1056       1056     1056
Gender
Female    1.643827
Male      1.759471
Name: Height, dtype: float64
Gender
Female    78.072771
Male      89.994725
Name: Weight, dtype: float64
                 sum       mean
Gender
Female  85215.865833  82.573513
Male    96126.002872  91.028412